*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.read-the-docs {
  color: #888;
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header" "aside main";
}

.header {
  grid-area: header;
  border-bottom: 1px solid;
  padding: 1rem;
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  gap: 1rem;
  font-size: 1.2rem;
  border-right: 1px solid;
}

aside a {
  color: initial;
}

.main {
  grid-area: main;
}

.filter-mail {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid;
}

.filter-mail input {
  margin-right: 0.2rem;
}

.emails-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mail-card {
  border: 1px solid;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mail--star {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.mail--btns {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.mail--details-link {
  margin-right: auto;
}

.mail--btns button:nth-child(1) {
  color: red;
}
.mail--btns button:nth-child(2) {
  color: green;
}
.mail--btns button:nth-child(3) {
  color: orange;
}
